<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.luis.luisgoogleproject">

    <uses-sdk tools:overrideLibrary="com.lxj.xpopup.core" />
    <!-- 访问网路的权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".ProjectApplication"
        android:allowBackup="true"
        android:icon="@drawable/askrent_askbuy"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.LuisGoogleProject"
        tools:replace="icon,label,theme">
        <activity
            android:name=".kotlin.jetpack.ReflectActivity"
            android:exported="false" />
        <activity
            android:name=".kotlin.jetpack.LiveDataBus2Activity"
            android:exported="false" />
        <activity
            android:name=".kotlin.jetpack.LiveDataBusActivity"
            android:exported="false" />
        <activity
            android:name=".kotlin.jetpack.LiveDataActivity"
            android:exported="false" />
        <activity
            android:name=".kotlin.filepersistence.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".kotlin.filepersistence.FilepersistenceActivity"
            android:exported="false" />

        <receiver
            android:name=".kotlin.broadcastreceiver.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".kotlin.broadcastreceiver.BroadCastReceiverActivity"
            android:exported="false" />
        <activity
            android:name=".kotlin.news.NewsActivity"
            android:exported="false" />
        <activity
            android:name=".kotlin.news.NewsContentActivity"
            android:exported="false" />
        <activity
            android:name=".kotlin.fragment.FragmentActivity"
            android:exported="false" />
        <activity
            android:name=".kotlin.chat.ChatActivityActivity"
            android:exported="false" />
        <activity
            android:name=".kotlin.pointnine.PointNineActivity"
            android:exported="false" />
        <activity
            android:name=".kotlin.widget.RecyclerViewActivity"
            android:exported="false" />
        <activity
            android:name=".kotlin.customView.CustomViewActivity"
            android:exported="false" />
        <activity
            android:name=".kotlin.widget.AlertDialogActivity"
            android:exported="false" />
        <activity
            android:name=".kotlin.widget.ProgressBarActivity"
            android:exported="false" />
        <activity
            android:name=".kotlin.activity.DialogActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".kotlin.activity.NormalActivity"
            android:exported="false" />
        <activity
            android:name=".kotlin.activity.SecondActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="com.luis.ACTION_START" />

                <category android:name="android.intent.category.DEFAULT" />
                <!-- //隐式启动必须要满足所有的catelog,default为默认的 -->
                <category android:name="com.luis.myCateLog" />
            </intent-filter>
        </activity>
        <activity
            android:name=".kotlin.activity.FirstActivity"
            android:exported="true" />
        <activity
            android:name=".ui.CustomViewActivity"
            android:exported="false" />
        <activity
            android:name=".ui.HaikeActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard"
            android:exported="false" />
        <activity
            android:name=".practice.LiveDataActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity android:name=".DetailLinkActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>